<html>
<head>
	<title>Y U so stupid?</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
	<div id="background"></div>
	<div class="gameFail">
		<div class="main">
			<div id="failedMessage">
				<p>Oh no you have failed!! <br> Y U so stupid?</p>
			</div>

			<div id="correctAnswer">
				<p>Correct answer was {{correctAnswer}}</p>
			</div>

			<div id="scoreHighscore">
				<p>Your score was {{currScore}}</p>
				<p>The highscore is {{highscore}}</p>
			</div>

			<div class="">
				<form action="{{url_for('.play')}}" method="get">
					<input type="submit" value="Play again" name="Submit">
				</form>

				<form action="http://www.findtheinvisiblecow.com/" method="get">
					<input type="submit" value="Quit!" name="Submit">
				</form>
			</div>
		<div>
	</div>
</html>