<!DOCTYPE>
<html>
<head>
    <title>Y U so stupid?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
    <div id="background"></div>

    <div class="game">
        <div class="question">
            <p>{{question}}</p>
        </div>
        <div class="main">
            <span class="answers">
                <form action="." method="POST" name="answer">
                    <ul>
                    {% for choice in choices %}
                        <li><input type="submit" name="answer" value="{{choice}}" class="ans"></li>
                    {% endfor %}
                    </ul>
                </form>
            </span>
        </div>
    </div>
    
    <div id="score">
        <p>{{score}}</p>
    </div>
</body>
</html>